@import "../../styles/break-points.scss";


.Card {
  margin: 0 auto 0 auto;
  width: 300px;
  height: 295px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #2d2e2e;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    border-color: var(--primaryColor);
  }

  h2 {
    margin: 0 0 .1rem 0;
    font-size: 1.1rem;
  }

  p {
    margin: 0;
    font-size: .7rem;
    line-height: 1.5;
  }
  .wrapIconsBtn {
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: end;
  }
  .iconBtn {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      color: var(--primaryColor);
      color: var(--primaryColor);
    }

  }
  .wrapFavoriteIcon{
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .iconBtnisFavorite {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--primaryColor);
  }

}


@include desktop{
}
@include notebook{

}
@include tabletlandscape{
  .Card{
    width: 250px;
    height: 305px;
    h2 {
      font-size: 1rem;
    }
  }
}
@include tablet {
  .Card{
    width: 250px;
    height: 365px;
    h2 {
      margin: 0 0 1rem 0;
      font-size: 1rem;
    }
  }

}
@include mobile {
  .Card{
    width: 280px;
    height: 365px;
    h2 {
      margin: 0 0 1rem 0;
      font-size: 1rem;
    }
  }

}